@import "tailwindcss";
@import '@fontsource-variable/comfortaa';

@theme {
    --font-body: 'Comfortaa Variable', system-ui;
    --animate-fade-in: fade-in 1s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}