---
import Layout from '../layouts/Layout.astro';
import ReasonsComponent from "../components/reasonsComponent.astro";
import RelojComponent from "../components/relojComponent.astro";
import TitleComponent from "../components/titleComponent.astro";
---

<Layout>
    <div class="w-full flex flex-col justify-center items-center">
        <div class="grid grid-cols-3 w-90 mt-10">
            <div class="w-full justify-center items-center flex flex-col">
                <div class="bg-white w-40 shadow-md shadow-black-30 h-40 rotate-20 overflow-hidden relative p-2">
                    <img src="https://drive.google.com/thumbnail?id=159UaIuWkZ_TTpzhrUoQpB1PTOGs7IHVr&sz=w1000" class="h-full w-full object-cover" />

                </div>
            </div>
            <div class="w-full justify-center items-center flex flex-col">
                <div class="bg-white w-40 shadow-md shadow-black-30 h-40 rotate-350 overflow-hidden relative p-2">
                    <img src="https://drive.google.com/thumbnail?id=1FgwqMBuO6rHlil5li1pPFl2njCSwVr6I&sz=w1000" class="h-full w-full object-cover" />

                </div>
            </div>
            <div class="w-full justify-center items-center flex flex-col">
                <div class="bg-white w-40 shadow-md shadow-black-30 h-40 rotate-20 overflow-hidden relative p-2">
                    <img src="https://drive.google.com/thumbnail?id=1bQA2ZJvm9_O3Iszl-LUEN5lpohXZC6IX&sz=w1000" class="h-full w-full object-cover" />

                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col my-5 w-full items-center gap-3">
        <p class="font-body text-2xl">¡Feliz año y medio, Pepe!</p>

        <TitleComponent text="Cuanto tiempo llevamos juntos" />
    </div>

    <RelojComponent />

    <div class="grid grid-cols-[40%_60%] h-50 bg-[#CF7486]/50 my-5">
        <div class="bg-white m-2 overflow-hidden relative">
            <img src="https://drive.google.com/thumbnail?id=1FgwqMBuO6rHlil5li1pPFl2njCSwVr6I&sz=w1000" class="h-full w-full object-cover" />
        </div>
        <div class="bg-red-500 m-2"></div>
    </div>

    <div class="grid grid-cols-[70%_30%] h-50 bg-[#CF7486]/50 my-5">
        <div class="bg-white m-2"></div>
        <div class="bg-red-500 m-2 overflow-hidden relative">
            <img src="https://drive.google.com/thumbnail?id=1RFCpOyURGueUH00t04vnAVvDwhZean36&sz=w1000" class="h-full w-full object-cover" />

        </div>
    </div>

    <div class="grid grid-cols-[40%_60%] h-50 bg-[#CF7486]/50 my-5 mb-30">
        <div class="bg-white m-2 overflow-hidden relative">
            <img src="https://drive.google.com/thumbnail?id=1bQA2ZJvm9_O3Iszl-LUEN5lpohXZC6IX&sz=w1000" class="h-full w-full object-cover" />
        </div>
        <div class="bg-red-500 m-2"></div>
    </div>


</Layout>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js');
    }
</script>