---
import Layout from '../layouts/Layout.astro';
import ReasonsComponent from "../components/reasonsComponent.astro";
import RelojComponent from "../components/relojComponent.astro";
import TitleComponent from "../components/titleComponent.astro";
---

<Layout>
    <div class="flex flex-col my-5 w-full flex flex-col items-center gap-3">
        <TitleComponent text="Cuanto tiempo llevamos juntos" />
    </div>

    <RelojComponent />

</Layout>
