---

import Layout from "../layouts/Layout.astro";
import TitleComponent from "../components/titleComponent.astro";---

<Layout>
    <div class="flex flex-col my-5 w-full items-center gap-0">
        <TitleComponent text="Cartas para ti" />
    </div>
    <div class="flex flex-col my-5 w-full items-center gap-0">
    <div class="grid grid-cols-2 gap-5 w-90">
        <img src="https://drive.google.com/thumbnail?id=1f1tOxxOv1PTDv1Z9tzlCElzh13TdwE_U&sz=w1000" class="h-full w-full object-cover hover:scale-105 transition-all duration-300 border-1 border-pink-400" />
        <img src="https://drive.google.com/thumbnail?id=1f1tOxxOv1PTDv1Z9tzlCElzh13TdwE_U&sz=w1000" class="h-full w-full object-cover hover:scale-105 transition-all duration-300" />
    </div>
    </div>

</Layout>