---
import Layout from '../layouts/Layout.astro';
import ReasonsComponent from "../components/reasonsComponent.astro";
---

<Layout>

    <div class="w-full justify-center items-center flex flex-col mt-10">
        <div class="md:w-150 w-110">
            <p class="text-red-900 text-2xl font-body font-bold">100 Razones por las que te amo</p>
        </div>
    </div>
    <div class="grid grid-rows-100 gap-2 text-red-900 my-5">
        <ReasonsComponent text="Porque no puedo vivir sin ti."/>
        <ReasonsComponent text="Porque haces que mis días sean más felices." />
        <ReasonsComponent text="Porque tus abrazos me brindan calidez en el corazón." />
        <ReasonsComponent text="Porque das muy buenos besos, me encantan." />
        <ReasonsComponent text="Porque tienes muy lindos ojos, me pierdo en ellos." />
        <ReasonsComponent text="Por lo suave que es tu piel, te acariciaría todo el día." />
        <ReasonsComponent text="Porque accediste a esta relación a distancia." />
        <ReasonsComponent text="Porque logras que resplandezca de alegría cada que me dices algo lindo." />
        <ReasonsComponent text="Porque me brindas tranquilidad, paz y seguridad."/>
        <ReasonsComponent text="Porque me tienes orgullosa de todos tus logros."/>
        <ReasonsComponent text="Porque te interesas por las cosas que hago y lo que me gusta."/>
        <ReasonsComponent text="Porque eres tú, eso es mucho más importante de lo que crees."/>
        <ReasonsComponent text="Porque me amas."/>
        <ReasonsComponent text="Porque eres simplemente perfecto."/>
        <ReasonsComponent text="Por tu voz, es mi sonido favorito."/>
        <ReasonsComponent text="Porque siempre buscas el bienestar de nuestra relación."/>
        <ReasonsComponent text="Porque me conquistas todos los días."/>
        <ReasonsComponent text="Porque no se te acaban los temas interesantes de conversación."/>
        <ReasonsComponent text="Porque me encanta escucharte hablar."/>
        <ReasonsComponent text="Porque es muy divertido pasar tiempo contigo."/>
        <ReasonsComponent text="Porque tienes un nombre muy lindo."/>
        <ReasonsComponent text="Porque tienes un cuerpo muy bello."/>
        <ReasonsComponent text="Porque me dedicaste una canción."/>
        <ReasonsComponent text="Porque viajaste desde tan lejos para conocerme."/>
        <ReasonsComponent text="Porque me presentas tus intereses."/>
        <ReasonsComponent text="Porque no permites que me vaya a dormir estando triste."/>
        <ReasonsComponent text="Porque te quedas hasta tarde conmigo."/>
        <ReasonsComponent text="Porque eres paciente conmigo."/>
        <ReasonsComponent text="Porque eres mi mejor amigo."/>
        <ReasonsComponent text="Porque puedo contarte cualquier cosa sin miedo."/>
        <ReasonsComponent text="Porque te quedas conmigo en momentos difíciles."/>
        <ReasonsComponent text="Porque me inspiras a ser mejor."/>
        <ReasonsComponent text="Porque me haces reír."/>
        <ReasonsComponent text="Porque me cuidas."/>
        <ReasonsComponent text="Porque piensas en nuestro futuro."/>
        <ReasonsComponent text="Porque siempre eres honesto."/>
        <ReasonsComponent text="Porque me haces sentir la persona más bella del mundo."/>
        <ReasonsComponent text="Porque me aceptas tal como soy."/>
        <ReasonsComponent text="Porque respetas mis límites."/>
        <ReasonsComponent text="Porque hablas sobre mí con otras personas."/>
        <ReasonsComponent text="Porque tu risa es contagiosa."/>
        <ReasonsComponent text="Porque confías en mí."/>
        <ReasonsComponent text="Porque me eliges por sobre otras cosas."/>
        <ReasonsComponent text="Porque nunca me juzgas."/>
        <ReasonsComponent text="Porque me confortas si me ves llorando."/>
        <ReasonsComponent text="Porque puedo ser rara contigo."/>
        <ReasonsComponent text="Porque amo tu personalidad."/>
        <ReasonsComponent text="Porque eres responsable."/>
        <ReasonsComponent text="Porque eres inteligente."/>
        <ReasonsComponent text="Porque eres habilidoso."/>
        <ReasonsComponent text="Porque tienes lindos labios."/>
        <ReasonsComponent text="Porque tienes linda nariz."/>
        <ReasonsComponent text="Porque tienes lindas cejas."/>
        <ReasonsComponent text="Porque tienes lindas orejas."/>
        <ReasonsComponent text="Porque tienes lindas manos."/>
        <ReasonsComponent text="Porque tienes lindos dedos."/>
        <ReasonsComponent text="Porque tienes lindo cabello."/>
        <ReasonsComponent text="Porque tienes lindas mejillas."/>
        <ReasonsComponent text="Porque tienes lindos brazos."/>
        <ReasonsComponent text="Porque tienes lindas piernas."/>
        <ReasonsComponent text="Porque tienes lindo torso."/>
        <ReasonsComponent text="Porque tienes lindo acento."/>
        <ReasonsComponent text="Porque tienes linda sonrisa."/>
        <ReasonsComponent text="Porque hueles bien."/>
        <ReasonsComponent text="Porque me haces sentir importante."/>
        <ReasonsComponent text="Porque me entiendes."/>
        <ReasonsComponent text="Porque eres muy dulce y gentil."/>
        <ReasonsComponent text="Porque siempre me apoyas."/>
        <ReasonsComponent text="Porque eres realmente guapo."/>
        <ReasonsComponent text="Porque eres leal."/>
        <ReasonsComponent text="Porque te esfuerzas mucho."/>
        <ReasonsComponent text="Porque eres muy poético."/>
        <ReasonsComponent text="Porque eres mi hogar, mi mundo, mi universo."/>
        <ReasonsComponent text="Porque tenemos muy buena química."/>
        <ReasonsComponent text="Porque me encanta lo intenso que eres."/>
        <ReasonsComponent text="Porque me llamas 'amor'."/>
        <ReasonsComponent text="Porque te aseguras de que me sienta bien."/>
        <ReasonsComponent text="Porque adoro tus caricias, mimos y besitos."/>
        <ReasonsComponent text="Porque amo ver películas, anime, series, videos contigo."/>
        <ReasonsComponent text="Porque compartimos intereses."/>
        <ReasonsComponent text="Porque quieres estar siempre conmigo."/>
        <ReasonsComponent text="Porque pensar en ti me brinda felicidad."/>
        <ReasonsComponent text="Porque eres mi héroe."/>
        <ReasonsComponent text="Porque eres mi príncipe."/>
        <ReasonsComponent text="Porque eres mi razón para sonreír."/>
        <ReasonsComponent text="Porque eres mi parte favorita del día."/>
        <ReasonsComponent text="Porque eres mi persona favorita."/>
        <ReasonsComponent text="Porque eres mi príncipe."/>
        <ReasonsComponent text="Porque amo estar contigo."/>
        <ReasonsComponent text="Porque me enamoras más cada segundo que pasa."/>
        <ReasonsComponent text="Porque eres el amor de mi vida."/>
        <ReasonsComponent text="Porque quiero que seas el padre de mis hijos."/>
        <ReasonsComponent text="Porque quiero que seas mi esposo."/>
        <ReasonsComponent text="Porque me escuchas."/>
        <ReasonsComponent text="Porque tienes un gran corazón."/>
        <ReasonsComponent text="Porque tienes un alma hermosa."/>
        <ReasonsComponent text="Porque me completas."/>
        <ReasonsComponent text="Porque cada día creas nuevas razones por las que amarte."/>

    </div>


</Layout>
