---
import '../styles/global.css';
import HeaderComponent from "../components/headerComponent.astro";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<!-- resto meta tags -->
</head>
	<body class="bg-[#F7F7FF] animate-fade-in text-[#130B3C]/80">
	<HeaderComponent />
	<div class=""></div>
		<slot />
	<div class="h-40"></div>
	</body>
</html>

