---
import '../styles/global.css';
import HeaderComponent from "../components/headerComponent.astro";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#ff1493">
	<link rel="apple-touch-icon" href="/icon-192.png">
	<!-- resto meta tags -->
</head>
	<body class="bg-[#FFE6ED] animate-fade-in">
	<HeaderComponent />
		<slot />
	</body>
</html>

